@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
#imp {

    border: 1px solid #E0C3FC;

    border-collapse: collapse;
}

body {
    background-color: #161A1D;
}

h1 {
    color: #BBADFF;
    text-align: center;
}

h2,
ol {
    color: #BBADFF;
}

h3,
ul {
    color: #E0AAFF;
}

dl {
    color: #BBADFF;
    text-indent: 10px;
}

p {
    color: #BBADFF;
}

#lau {
    color: #d2c8ff;
    text-shadow: 0px 0px 20px #b5a7ff;
    font-family: "Dancing Script";
    font-size: 30px;
}

header {
    /* ↓ Es lo mismo que hacer ↓

    border-bottom-color: #E0C3FC;
    border-bottom-style:double;
    border-bottom-width: 5px;
    */
    border-bottom: #E0C3FC solid 5px;

    border-top: #E0C3FC solid 5px;
}

a {
    color: #0BD4B9;
}

td {
    color: #BBADFF;
}

th {
    color: #E0AAFF;
}

footer {
    color: #d2c8ff;
}
